body{background:url(../images/bg.jpg); background-repeat:no-repeat; background-size: cover; /*overflow-y: hidden;*/ }
     /*background-position: 0px -82px;*/ 
header{}
.header-wrapper{background:url(../images/vstopna_crni_pas_gori.png)center;background-repeat: no-repeat;width: 100%;background-size: cover;padding:10px 0 0 0;}

/*Flags menu*/
.flags-container{margin:30px 0 10px 0}
.flags-menu{list-style: none; margin-bottom:0px!important;}
.flags-menu li{display:inline-block; margin-left:3px;}
.flag {width: 22px;height: 14px;border: none;background: url(../images/flags.png) no-repeat;}
.flag.flag-gb { background-position: 0 0 }
.flag.flag-de { background-position: -30px 0 }
.flag.flag-it { background-position: -61px 0 }
.flag.flag-sp { background-position: -91px 0 }
.flag.flag-po { background-position: -120px 0 }
.flag.flag-at { background-position: -148px 0 }
/*End flags menu*/
.header-line{width:100%; margin-top:-2px;}
.arrow-top{margin-top:4px;}
.main-content-wrapper{background:url(../images/vstopna_border_gori.png); background-repeat:repeat-x;margin-top: -1px;}
.info-text{margin-top:40px}
.green-button{max-width:100%;}
.main-menu-wrapper{margin-top:100px;}
.main-menu{color:white; list-style:none; font-size:11px; margin-left:30px; }
.main-menu-heading{color:white; margin-bottom:20px; font-size:13px; font-weight:bold;}
.arrow-bottom{top: 11px;position: relative;}
.footer-line{position: relative;top: 7px;background:url(../images/vstopna_border_doli.png); background-repeat:repeat-x;width:100%; color:white; padding:5px 0}

.d_blink{padding:0;}
.btn_green{

	
background-color:#427939; color:white; width:240px;max-width:100%;padding: 10px 8px;font-size: 30px;
/* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#84c352), to(#427539));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #84c352, #427539);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #84c352, #427539);

  /* IE 10 */
  background: -ms-linear-gradient(top, #84c352, #427539);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #84c352, #427539);
font-weight:700;
color:white;}
.green-button ul li{list-style:none;}
.blink { /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#84c352), to(#427539));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #84c352, #427539);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #84c352, #427539);

  /* IE 10 */
  background: -ms-linear-gradient(top, #84c352, #427539);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #84c352, #427539);

color:white;
    text-shadow: 0px 0px 10px whitesmoke;
}

.main-menu a,a:hover,a:active,a:visited{text-decoration: none; color:white;}

.click_arrows{background-image:url('../images/arrws.png');background-repeat:no-repeat;height:24px;
	width: 20px;
    position: absolute;
    max-width: 100%;
    margin-left: 15px;
    margin-top: 7px;}
